.tab-content {
  padding: 40px;
}

.section-header {
  padding-bottom: 40px;
  text-align: center;

  .fa-heart {
    color: #6b6b6b;
  }

  h1 {
    font-weight: 300;
  }

  span {
    font-style: italic;
  }
}

body {
  background-color: #333;
  font-family: 'Lato', sans-serif !important;
}

.donate {
  width: 700px;
  margin-top: 100px;
  background-color: #ffffff;
  border-radius: 5px;
}

.tab-content {
  min-height: 300px;
}

#recurring {
  margin-left: 80px;
}

#onetime {
   margin-left: 120px;
   .btn {
     min-width: 300px;
   }

   .btc {
     font-size: 20px;
     font-weight: 300;
     margin: 20px;
     .btc-address {
       font-family: monospace;
     }
   }

 }

.btn {
  min-width: 200px;
  margin: 10px;
  font-size: 20px;
  font-weight: 300;
}

.btc-donate-link{
  img{
    display: none;
  }
}