.section_header {
  width: 100%;
  margin-bottom: 30px;
}
.section_header h3 {
  color: #646464;
  font-weight: 300;
  font-style: italic;
  font-size: 27px;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 0px;
  display: inline-block;
  margin: 0;
}
.support,
.donate {
  margin-bottom: 20px;
}
.support a,
.donate a {
  text-decoration: none;
  color: #333333;
  margin-bottom: 30px;
}
.support h4,
.donate h4 {
  display: inline-block;
  padding-left: 5px;
}
.features {
  margin-top: 70px;
  margin-bottom: -20px;
}
.features .feature {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 65px;
}
.features .feature .info h3 {
  font-size: 21px;
  margin-top: 45px;
}
.features .feature .info h3 img {
  margin-right: 18px;
  position: relative;
  top: -10px;
}
.features .feature .info p {
  margin-top: 15px;
}
.download {
  margin-top: 30px;
  margin-bottom: 0px;
}
.download .head h6 {
  font-size: 18px;
  margin: 0;
  color: #8E8E8F;
  font-weight: normal;
}
.download .download_wrapper {
  margin-left: -20px;
  margin-bottom: 40px;
}
.download .download_wrapper .option {
  border-radius: 6px;
  box-shadow: 0 1px 3px 1px #d6d6d6;
  background-color: #fff;
  width: 95%;
  position: relative;
}
.download .download_wrapper .option .wrapper {
  padding: 33px 30px 26px 30px;
}
.download .option h3 {
  color: #535353;
  font-weight: normal;
  font-style: italic;
  font-size: 28px;
  margin: 0 0 5px 0;
  line-height: 25px;
}
.download .option .features {
  margin-top: 30px;
}
.download .option .features p {
  color: #838385;
  margin-bottom: 5px;
  font-size: 14px;
}
.download .option a.order {
  background-color: #2190DB;
  text-align: center;
  margin: 25px auto 0;
  width: 48%;
  display: block;
  padding: 3px 0;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}
.download .option a.order:hover {
  background: #252528;
}
.download .featured .option {
  width: 100%;
  top: -20px;
  box-shadow: 0px 0px 7px 0 #d6d6d6;
  border: 1px solid #d9d9d9;
}
.download .featured .option .wrapper {
  padding: 36px 30px 35px 30px;
}
.download .featured .option img.ribbon {
  position: absolute;
  top: 0;
  right: 0;
}
.download .featured .option a.order {
  margin-top: 35px;
}
.footer {
  min-height: 100px;
  margin-top: 100px;
  background-color: #252528;
  color: #fff;
  padding-top: 35px;
}
.footer .copyright {
  color: #a6a6a7;
  font-style: italic;
  text-align: center;
}
.slide {
  background: url('/img/backgrounds/black_linen_with_logo.png') repeat-x top center;
}
@media (max-width: 767px) {
  .features {
    margin-top: 100px;
  }
  .support .text p {
    display: none;
  }
  .features .section_header {
    text-align: center;
  }
  .features .feature img {
    margin: 0 auto !important;
    float: none !important;
  }
  .features .feature .info h3 {
    text-align: center;
  }
  .download .download_wrapper {
    margin-left: 0;
  }
  .download .download_wrapper .option {
    margin: 0 auto 30px;
    width: 95%;
  }
  .download .download_wrapper .option .wrapper {
    margin: 0 auto;
    text-align: center;
  }
  .download .featured .option {
    top: 0;
    width: 95%;
  }
  .download .start p {
    margin-bottom: 20px;
  }
  .download .start a {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .download .option a.order {
    width: 64%;
  }
}
@media (min-width: 768px) {
  .features .feature .pic-right {
    float: right;
  }
  .features .feature .info-left {
    float: left;
  }
}
